body{
    margin: 0;
    padding: 0;
}

table, td{
    border: 1px solid rgba(0,0,0,0.70);
    
}

td{
    height: 15px;
    width: 100px;
}

tr:nth-child(odd){
    background-color: rgba(0,0,0,0.10)
}

tr:nth-child(2) td:nth-child(3){
    background-color: black;
}

tr:nth-child(3) td:nth-child(3){
    background-color: black;
}

tr:nth-child(2) td:nth-child(5){
    background-color: black;
}

tr:nth-child(3) td:nth-child(5){
    background-color: black;
}

tr:nth-child(2) td:nth-child(6){
    background-color: black;
}

tr:nth-child(3) td:nth-child(6){
    background-color: black;
}
